@reference "../globals.css"

.markdown {
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown code {
  font-size: 16px;
  overflow: auto;
  max-width: 125%;
  font-family: var(--code-font);
}

.markdown [data-rehype-pretty-code-figure] code span {
  color: var(--shiki-light);
  font-style: var(--shiki-light-font-style, normal);
  font-weight: var(--shiki-light-font-weight, normal);
  text-decoration: var(--shiki-light-text-decoration, none);
}

.dark .markdown [data-rehype-pretty-code-figure] code span {
  color: var(--shiki-dark) !important;
  font-style: var(--shiki-dark-font-style, normal) !important;
  font-weight: var(--shiki-dark-font-weight, normal) !important;
  text-decoration: var(--shiki-dark-text-decoration, none) !important;
}
